.header
	padding-top: 23px
	background: url('../img/header/header-bg.jpg') no-repeat
	&-wrapper
		display: flex
		justify-content: space-between
		align-items: center
	&-menu
		&-list
			display: flex
			list-style-type: none
			&__item
				border-left: 1px dotted rgba(f,f,f,0.4)
				border-right: 1px dotted rgba(f,f,f,0.4)
				padding-left: 14px
				padding-right: 14px
			&__link
				font-size: 15px
				font-weight: 400
				color: #ffffff
				&:hover
					color: $main-color		
