.work
	padding-top: 50px
	padding-bottom: 55px
	&__descr
		max-width: 880px
		margin: 0 auto
		margin-bottom: 35px
		font-size: 21px
		text-align: center
	&-list
		&-item
			text-align: center
			&__img
				margin-bottom: 25px
			&__title
				font-size: 18px
				font-weight: 700
				color: $main-color

@media screen and (max-width: 991px)
	.work-list-item__img
		display: block
		max-width: 300px
		margin: 0 auto
		margin-bottom: 20px
	.work-list-item
		margin-bottom: 50px
	.work-list-item__descr
		max-width: 70%
		margin: 0 auto

@media screen and (max-width: 575px)
	.work-list-item__descr
		max-width: 100%									
					
			